models/purple.h5 filter=lfs diff=lfs merge=lfs -text
images.gz filter=lfs diff=lfs merge=lfs -text
models/etl8.h5 filter=lfs diff=lfs merge=lfs -text
data/etl8.npz filter=lfs diff=lfs merge=lfs -text
models/3drop_1024fully.h5 filter=lfs diff=lfs merge=lfs -text
models/arg1_nodrop_1024fully_120.h5 filter=lfs diff=lfs merge=lfs -text
models/arg_3drop_1024fully.h5 filter=lfs diff=lfs merge=lfs -text
models/arg_nodrop_1024fully_120.h5 filter=lfs diff=lfs merge=lfs -text
models/arg_nodrop_1024fully.h5 filter=lfs diff=lfs merge=lfs -text
models/conv_nodrop.h5 filter=lfs diff=lfs merge=lfs -text
models/etl8_transfered.h5 filter=lfs diff=lfs merge=lfs -text
models/nodrop_1024fully.h5 filter=lfs diff=lfs merge=lfs -text
